<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css">
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$']]
      }
    });
  </script>
</head>

